<title>Home</title>
{% extends "base.html"%}

{% block content %}
<section id="land" class="p-5 home">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md p-5">
            <h2 class="text">Hello , <br>
                Welcome to <span class="text-primary">MY GALLERY</span></h2>
            <p class="lead" shorttext>Come and view some of the finest photos you will ever get
            </p>
           

    </div>
</section>
{% endblock%}